<style>
    .button{
        background-color: rgb(51,100,255);
        margin: 20px;
        border-radius: 20px;
        width: 250px;
        height: 100px;
        border:none;
        color:white;
      
    }

    .buttoncontainer{
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>
  <body>
      <div class="buttoncontainer">
    <button class="button" onclick="window.location.href='@Url.Action("searchoffer", "booking")'">Szukaj ofert</button>
@if (User.Identity.IsAuthenticated)
{
        <button class="button" onclick="window.location.href='@Url.Action("logout", "Account")'">Wyloguj</button>
        <button class="button" onclick="window.location.href='@Url.Action("Addoffer", "Booking")'">Dodaj ofertę</button>
        <button class="button" onclick="window.location.href='@Url.Action("userprofile", "home")'">Przejdz do profilu</button>
}
else
{
        <button class="button" onclick="window.location.href='@Url.Action("login", "Account")'">Zaloguj</button>
        <button class="button" onclick="window.location.href='@Url.Action("register", "Account")'">Zarejestuj</button>
}
    </div>
</body>         