@model BookingApp.Models.Offer
<style>
    body {
        font-family: Arial;
    }

    .button {
        padding: 10px 20px;
        background-color: rgb(51,100,255);
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 20px;
        
        text-align: center;
        height:50px;
        width:150px;
    }

    input[type="text"], input[type="date"] {
        background-color: rgb(51,100,255);
        border: none;
        border-radius: 20px;
        color: white;
        padding:5px;
    }
    .image{
        background-color: rgb(51,100,255);
        border-radius: 20px;
        padding: 20px;
        height:500px;
        width:500px;
        float:left;
        margin:10px;
    }
    h1{
        text-align:center;
    }

  </style>
@if(ViewBag.CanEdit)
{
    <button class="button"onclick="window.location.href='@Url.Action("EditOffer", "Booking", new {offerId = Model.Id})'">Edytuj</button>
    <button class="button" onclick="window.location.href='@Url.Action("DeleteOffer", "Booking", new {OfferId = Model.Id})'">Usun</button>
}
<h1>@Model.title</h1>
<p>Cena: @Model.price</p>
<p>@Model.description</p>
@if (ViewBag.DateIsChecked == false)
{

	@using (Html.BeginForm("checkdate", "booking", FormMethod.Get))
	{
		@Html.ValidationSummary()

		<p>wybierz date rozpoczecia <input type="date" name="startDate" /></p>
		<p>wybierz date zakonczenia <input type="date" name="endDate" /></p>
		<input type="hidden" name="OfferId" value="@Model.Id"/>
		<button class="button" type="submit">sprawdz daty</button>
	}

}
@if (User.Identity.IsAuthenticated)
{
    @using (Html.BeginForm("SaveOffer", "booking", FormMethod.Post))
    {
        @Html.ValidationSummary()
        <button class="button" type="submit" name="OfferId" value="@Model.Id">zapisz</button>
    }
}
@if (ViewBag.DateIsChecked)
{


	@if (ViewBag.IsFree)
	{
		<p>daty sa wolne</p>
		@using (Html.BeginForm("AddBooking", "booking", FormMethod.Post))
		{
		@Html.ValidationSummary()
			<p>rezerwoj @Model.title w dniach od @ViewBag.StartDate.Day.@ViewBag.StartDate.Month.@ViewBag.StartDate.Year do @ViewBag.EndDate.Day.@ViewBag.EndDate.Month.@ViewBag.EndDate.Year </p>
			<input type="hidden" name="startDate" value="@ViewBag.EndDate" />
			<input type="hidden" name="endDate" value="@ViewBag.StartDate" />
		<input type="hidden" name="OfferId" value="@Model.Id" />
            <button class="button"  type="submit">rezerwuj</button>
		}
	}
	@if (ViewBag.IsFree == false)
	{
		<p>daty nie sa wolne</p>
	}
}
@if(Model.Images != null)
{

@foreach(var image in Model.Images)
{
	<img class="image" src="@Url.Action("DisplayImage", "Home", new { imageId = image.id })" alt="Obraz" />
}
}else{
	<img class="image" src="~/images/DefaultPhoto.png" alt="Obraz" />

}