@model BookingApp.Models.Offer
<style>
	body {
		font-family: Arial;
	}

	.button, .customfilelabel {
		padding: 10px 20px;
		background-color: rgb(51,100,255);
		color: white;
		border: none;
		cursor: pointer;
		border-radius: 20px;
		text-align: center;
	}

	input[type="text"], input[type="number"],.select {
		background-color: rgb(51,100,255);
		border: none;
		border-radius: 20px;
		color: white;
	}

	.customfiles {
		display: none;
	}

	.photo{
		
	}
	img{
		background-color: rgb(51,100,255);
		border-radius:20px;
		padding: 3px;
		height:250px;
		width:250px;
	}
</style>
<body>
@using (Html.BeginForm("EditOffer", "Booking", FormMethod.Post))
	{
	@Html.ValidationSummary()
		<button class="button" type="submit">Zapisz</button>
	<p>podaj tytul ogloszenia @Html.TextBoxFor(x => x.title)</p>
	<p>podaj opis ogloszenie @Html.TextBoxFor(x => x.description)</p>
	<p>podaj nazwe miasta @Html.TextBoxFor(x => x.City)</p>
	<p>podaj liczbe pokoi @Html.TextBoxFor(x => x.NumberOfRooms, new {type="number"})</p>
	<p>
		Dom/Mieszkanie
		<select name="TypeOfFlat" class="select">
			<option value="Dom">Dom</option>
			<option value="Mieszkanie">Mieszkanie</option>
		</select>
	</p>
		<p>podaj Cene @Html.TextBoxFor(x => x.price, new {type="number"})</p>
	
		<p>
			dodaj zdjecia <input class="customfiles" type="file" id="customfiles" name="files" multiple />
			<label class="customfilelabel" for="customfiles">Wybierz pliki</label>
		</p>
	@Html.HiddenFor(x => x.CreatorId)
	@Html.HiddenFor(x => x.Images)
	@Html.HiddenFor(x => x.Id)
	
	}
	@if (Model.Images != null)
	{
		@foreach(var image in Model.Images)
		{
		    <div class="imagecontainer">
			@using (Html.BeginForm("DeletePhoto", "Home", FormMethod.Post))
			{
				
				@Html.ValidationSummary()
				<input type="hidden" name="photoid" value="@image.id"/>  
                <img class="image"src="@Url.Action("DisplayImage", "Home", new { imageId = image.id })" alt="Obraz" />
				<button class="button" type="submit" name="offerid" value="@Model.Id">Usun</button>
				
			}
			</div>
		}
	}
</body>